@font-face{
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'),
  url('./fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'RalewayBold';
  src: local('RalewayBold'),
  url('./fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Silkscreen';
  src: local('Silkscreen'),
  url('./fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root{
  --purple: rgb(66, 44, 128)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RalewayRegular', sans-serif;
  text-decoration: none !important;
}

.center{
  max-width: 1100px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hide{
  display: none !important;
}

.btn{
  border: none;
}