@font-face{
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'),
  url('./fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'RalewayBold';
  src: local('RalewayBold'),
  url('./fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Silkscreen';
  src: local('Silkscreen'),
  url('./fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root{
  --purple: rgb(66, 44, 128);
  --purple-rgba: rgba(66, 44, 128, 0.8);
  --white-rgba: rgba(255, 255, 255, 0.5)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RalewayRegular', sans-serif;
  text-decoration: none !important;
}

.center{
  max-width: 900px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 40px 5% 20px 5%;
}

.centralizeY{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.X{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.hide{
  display: none !important;
}

.btn{
  border: none;
}

.pages{
  width: 100%;
  position: relative;
  top: 60px;
}

.pages-text{
  color: white;
  height: calc(100vh - 60px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pages-text p{
  text-shadow: 1px 1px 1px black;
}

.pages-text h2{
  font-size: 36px;
  font-family: 'Fuzzy Bubbles';
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px black;
}