Body{
    background-color: #ccc;
}

/* ===== BANNER ===== */

section.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner-background.png");
    width: 100%;
    height: calc(100vh - 59px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.conteudo-banner{
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: rgba(66, 44, 128, 0.7);
}

.wrapper img{
    width: 140px;
}

.conteudo-banner h1{
    font-family: 'Silkscreen';
    font-size: 50px;
}

.conteudo-banner h2{
    font-family: 'Silkscreen';
    font-size: 24px;
}


/* ===== SOBRE MIM ===== */

section.sobre-mim{
    background-color: #eee;
    width: 100%;
    display: block;
    padding: 20px;
}

.center h1{
    color: black;
    font-size: 50px;
    margin-bottom: 10px;
}
  
.center p{
    font-size: 16px;
}

.conteudo-sobre-mim{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.item-conteudo-sobre-mim{
    width: calc(50% - 20px);
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    box-shadow: 0 0 6px 3px rgba(66, 44, 128, 0.5);
}

.item-conteudo-sobre-mim h2{
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(66, 44, 128);
}

.item-conteudo-sobre-mim i{
    font-size: 40px;
    color: rgb(66, 44, 128);
}

.item-conteudo-sobre-mim span,
.item-conteudo-sobre-mim p{
    font-weight: bold;
}

.idioma{
    width: 80%;
    margin: auto;
    text-align: center;
}

.idioma span{
    padding-left: 10px;
}

.idioma img{
    width: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.conhecimento{
    margin: auto;
    text-align: center;
}

.conhecimento i{
    vertical-align: middle;
    text-align: left;
}

.conhecimento span{
    padding-left: 10px;
}

/* ===== MEUS PROJETOS ===== */

section.meus-projetos{
    background-color: rgb(66, 44, 128);
    padding-bottom: 50px;
}

.meus-projetos h1{
    color: white;
    width: 100%;
    display: block;
    padding: 20px;
}

.slider-wrapper{
    margin: auto;
    background-color: #ddd;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px #2426721C;

    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
}

.slider-single{
    display: inline-block;
}

.slider-wrapper h2{
    padding-top: 20px;
}

.slider-single-content{
    display: flex;
    padding: 20px;
}

.slider-single-content img{
    width: 40%;
    margin-right: 20px;
    object-fit: contain;    
}

.slider-single-content p{
    text-align: left;
}

.carousel-item{
    padding-bottom: 10px;
}

.carousel .visitar{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgb(66, 44, 128);
    color: white;
    font-size: 20px;
}

/****SLICK SLIDER****/

.carousel-indicators [data-bs-target]{
    width: 16px !important;
    height: 16px !important;
    border: 1px solid transparent !important;
    border-radius: 8px ;
}

.carousel-indicators{
    position: relative;
    bottom: -40px !important;
}

.carousel-control-prev,
.carousel-control-next{
    opacity: 1 !important;
}

/*FIM SLICK SLIDER*/

/* ===== CONTATO ===== */

section.contato{
    padding: 20px;
}

section.contato > .center{
    max-width: 800px;
}

.form-contato{
    display: block;
}

.form-contato input[type=text],
.form-contato input[type=email]{
    width: 90%;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    letter-spacing: 2px;
    border: 2px solid black;
    font-size: 20px;
}

.form-contato textarea{
    width: 90%;
    margin-top: 20px;
    height: 120px;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    border: 2px solid black;
    font-size: 20px;
}

.form-contato input[type=button]{
    width: 90%;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgb(66, 44, 128);
    color: white;
    font-size: 20px;
}

/* ===== FOOTER ===== */

footer{
    background-color: rgb(66, 44, 128);
    padding: 10px 0;
    margin-top: 20px;
}

footer > .center{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.redes-sociais{
    width: 50%;
    text-align: left;
}

.redes-sociais span{
    color: white;
    margin: 0;
    font-size: 20px;
    margin-right: 20px;
}

.redes-sociais a{
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.redes-sociais a:hover{
    color: white;
}

.footer-logo{
    width: 50%;
    text-align: right;
}

.footer-logo span{
    color: white;
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .item-conteudo-sobre-mim{
        width: 100%;
    }
    .slider-single-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider-single-content img{
        width: 100%;
        max-width: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .redes-sociais{
        width: 100%;
        text-align: center;
    }
    .footer-logo{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .redes-sociais{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .redes-sociais span{
        width: 100%;
        margin: 0;
    }
}

@media  screen and (max-height: 420px) {
    
}